/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Quicksand', sans-serif;
}
.form-container{
    margin: 5% 20%;
    padding: 10px 5%;
}
.btn{
    margin: 5px;
}